.aPropos {
    @include aPropos;
    h2 {
        font-weight: bold;
        @include mobile{
            margin-top: 0px;
            text-align: center;
            } 
    }
    p {
        color: #4d4d4d;
        font-size: 18px;
        @include mobile {
            margin-top: -10px;
        }
        
    } 
}