footer {
    display: block;
    text-align: center;
    background-color: #353535;
    padding: 25px 0 8px 0;
    color: white;
    @include mobile {
        text-align: left;
    }
}
    h3 {
        font-family: "Shrikhand", "sans-serif";
        margin: 0px 20px 10px 38px;
        font-size: 1.5rem;
        font-weight: 500;
  }
    ul {
        list-style-type: none;

        li {
            padding: 5px 0 5px 0;
            font-weight: 500;

                a {
                    color: white;
                }
            }
  }

    .fa-utensils {
        margin-right: 12px;
    }
    .fa-hands-helping {
        margin-right: 5px;
    }