.main__menu {
    @include main-menu;
}
.full__menu {
    display: flex;
    justify-content: space-around;
}
.entrees {
    width: 500px;
    animation: fadein 3s ease-in-out;
}
.plats {
    width: 500px;
    animation: fadein 6s ease-in-out;
}
.dessert {
    width: 500px;
    animation: fadein 9s ease-in-out;
}
.icon_valider {
    @include icon_valider;
}
 

