.main__menu {
    @include main-menu;      
}
.full__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include mobile {
        display: block;
    }
}
.entrees {
    animation: fadein 3s ease-in-out;
}
.plats {
    animation: fadein 6s ease-in-out;
}
.dessert {
    animation: fadein 9s ease-in-out;
}
.icon__valider {
    @include icon-valider;
}
 

